<%= nav_bar :static => :top, :brand => "Your freight is right here!", :responsive => true do %>
	<%= menu_group do %>
		<%= menu_item "Home", root_path %>
		<%= menu_divider %>
		<%= menu_item "You are a Shipper? Manage your freights!", freights_path %>
		<%= menu_item "You are a Hauler? See your bids!", freights_path %>		
	<% end %>
<% end %>
<br>

<body-bg>
  <%= render partial: "freights" %>   
</body> 


<%= nav_bar :fixed => :bottom do %>
    <% menu_group :pull => :left do %>
        <%= menu_item "Home", root_path %>
        <%= menu_text "We make shiny things" %>
    <% end %>
    <% menu_group :pull => :right do %>
    	
    <% end %>
<% end %>
