<%= form_for(freight, as: :freight) do |f| %>
	<div class="container">
		<div class="row">
			<%= render "layouts/error_messages", :target => @freight %>	<br>
			
			<!-- <p><%= f.label(:situation, 'Situation:') %></p> -->
			<!-- <p><%= f.text_field(:situation, disabled: true) %></p> -->
			
			<%= render partial: "form_buttons" %>
			<legend>Freight details</legend>

			<div class="span2 text-right">
				<label>Origin to Destination City</label>
			</div>
			<div class="span10">
				<p><%= f.collection_select(:origin_id, 
																City.all, 
																:id, 
																:name, 
																{}, 
																{disabled: !@freight.new_record?}) %> to

				<%= f.collection_select(:destination_id, 
																City.all, 
																:id, 
																:name,
																{},
																{disabled: !@freight.new_record?}) %></p>
			</div>

			<div class="span2 text-right">
				<p><%= f.label(:expiration, 'Expires in:') %></p>
			</div>			
			<div class="span10">
				<p><%= date_select(:freight, 
													 :expiration, 
													 {default: Date.today, 
													  start_year: Date.today.year, 
													  order: [:day, :month, :year], 
													  disabled: !@freight.new_record?}, 
													 {:class => 'date-select'}) %></p>
			</div>
			
			<div class="span2 text-right">
				<p><%= f.label(:shipment, 'Shipment until:') %></p>
			</div>
			<div class="span10">
				<p><%= date_select(:freight, 
													 :shipment, 
													 {default: Date.today, 
													  start_year: Date.today.year, 
													  order: [:day, :month, :year], 
													  disabled: !@freight.is_waiting?}, 
													 {:class => 'date-select'}) %></p>
			</div>


			<div class="span2 text-right">
				<p><%= f.label(:price, 'Price:') %></p>
			</div>
			<div class="span10">
				<p><%= f.number_field(:price, class: "input-small", disabled: !@freight.new_record?) %> ,00</p>
			</div>
			
			<legend>Freight options</legend>

			<div class="span2 text-right">
				<p><%= f.label(:urgency, 'Urgency:') %></p>
			</div>			
			<div class="span10">
				<div class="row">
					<div class="span1">
						<p><%= f.radio_button(:urgency, Freight::HIGH, disabled: !@freight.is_waiting?) %> High</p>
					</div>
					<div class="span1">
						<p><%= f.radio_button(:urgency, Freight::NORMAL, disabled: !@freight.is_waiting?) %> Normal
						</p>
					</div>
				</div>
			</div>

			<div class="span2 text-right">
				<p><%= f.label(:tracked, 'Tracked:') %></p>
			</div>
			<div class="span10">
				<p><%= f.check_box(:tracked, disabled: !@freight.is_waiting?) %></p>
			</div>

			<div class="span2 text-right">
				<p><%= f.label(:insured, 'Insured:') %></p>
			</div>			
			<div class="span10">
				<p><%= f.check_box(:insured, disabled: !@freight.is_waiting?) %> </p>
			</div>
			
			<div class="span2 text-right">
				<p><%= f.label(:description, 'Optional description:') %></p>
			</div>
			<div class="span10">
				<%= f.text_area(:description, rows: "3", class: "span7", placeholder: "Enter details from freight!", disabled: !@freight.is_waiting?) %>
			</div>
				
			<legend>Cargo specification</legend>

			<div class="row">
				<div class="span2">
					<label class="span1">Heigth:</label>
					<p><%= f.number_field(:heigth, class: "span1", disabled: !@freight.is_waiting?) %></p>
				</div>
				<div class="span2">
					<label class="span1">Width:</label>
					<p><%= f.number_field(:width , class: "span1", disabled: !@freight.is_waiting?) %></p>
				</div>
				<div class="span2">
					<label class="span1">Weigth:</label>
					<p><%= f.number_field(:weigth, class: "span1", disabled: !@freight.is_waiting?) %></p>
				</div>				
				<div class="span2">
					<label class="span1">Length:</label>
					<p><%= f.number_field(:length, class: "span1", disabled: !@freight.is_waiting?) %></p>
				</div>
				<div class="span2">
					<label class="span1"> Amount:</label>
					<p><%= f.number_field(:amount, class: "span1", disabled: !@freight.is_waiting?) %></p>
				</div>
			</div>

			<legend>Contacts</legend>
			<div class="row">
			<% current_user.shipper.contacts.available.each do |contact| %>
				<div class="span3">
					<label class="checkbox">
						<input type="checkbox" name=<%= "contacts[#{contact.id.to_s}]" %> >
						<%= contact.name %>
					</label>
				</div>
				<div class="span8">
					<label class="span1"><%= contact.phone %></label>
					<label class="span1"><%= contact.email %></label>
				</div>
			<% end %>
			</div>

			<%= render partial: "form_buttons" %>
		</div>
	</div>
<% end %>