<h1>Comece criando o seu frete.</h1>


<%= form_for @freight do |f| %>
	<%= label_tag 'shipper_name', 'Shipper Name' %><br>	<%= label_tag 'shipper_name', @freight.shipper.name %><br>
	
	<br>
	<br>

	<%= label_tag 'origin_city', 'Origin city' %>	<%= select_tag "origin", options_for_select(@origins.collect{ |origin| ["#{origin.name} - #{origin.state.acronym}", origin.id] }) %> <br>	
	<%= label_tag 'destination_city', 'Destination city' %>	<%= select_tag "destination", options_for_select(@destinations.collect{ |destination| ["#{destination.name} - #{destination.state.acronym}", destination.id] }) %> 

	<br>
	<%= label_tag 'urgency', 'Urgency' %>
	<%= radio_button_tag 'urgency', 'urgency', true %> <%= label_tag 'urgency_yes', 'Urgent' %>
	<%= radio_button_tag 'urgency', 'normal', true %> <%= label_tag 'urgency_no', 'Normal' %>
	<br>

	<%= label_tag 'tracked', 'Tracked' %>	<%= check_box_tag 'tracked', 'yes', false %> <br>
	<%= label_tag 'insured', 'Insured' %>	<%= check_box_tag 'insured', 'yes', false %> <br>
	<%= label_tag 'expiration', 'Expires in' %>	<%= datetime_field_tag('expiration', value = I18n.l(Date.today), options = {}) %> <br>

	<%= label_tag 'price', 'Price' %>	<%= number_field_tag('price', value = nil, options = {}) %> <br> 
	<%= label_tag 'description', 'Optional description' %> <%= text_area_tag('description', content = nil, options = {}) %> <br> 

	<%= label_tag 'specifications', 'Specifications load' %> <br>
	<%= label_tag 'height', 'Heigth' %>	<%= number_field_tag('heigth', value = nil, options = {}) %>	<br>
	<%= label_tag 'width' , 'Width' %>  <%= number_field_tag('width' , value = nil, options = {}) %> <br>
	<%= label_tag 'weigth', 'Weigth' %>	<%= number_field_tag('weigth', value = nil, options = {}) %>	<br>
	<%= label_tag 'length', 'Length' %>	<%= number_field_tag('length', value = nil, options = {}) %>	<br>
	<%= label_tag 'amount', 'Amount' %>	<%= number_field_tag('amount', value = nil, options = {}) %> <br>

	<%= f.submit %>
<% end %>
