<%= form_tag(freight_confirmed_path, as: :freight, id: 'freight_info', freight: @freight, remote: true, style: 'none') do |f| %>

	<div class="bs-docs-section">
		<div class="row">
			<div name="contact" id="contact">

				<h3>New Freight</h3> 
				<div class="col-lg-6">
					<div class="form-group">
						<label class="control-label" for="origin">Origin City</label>
						<%= collection_select(:origin, :id, City.all, :id, :name, {}, {class: "form-control", style:"width: 555px"}) %>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group">
						<label class="control-label" for="destination">Destination City</label>
						<%= collection_select(:destination, :id, City.all, :id, :name, {}, {class: "form-control", style:"width: 555px"}) %>
					</div>
				</div>  

				<div class="col-lg-3">
					<div class="form-group">
						<label class="control-label" for="expiration">Expirates in</label>
						<div class='input-group date' data-date-format="DD/MMM/YYYY">
	            <input type='text' class="form-control" name='expiration' />
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	            </span>
	          </div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="form-group">

						<label class="control-label" for="shipment">Shipment</label>
						<div class='input-group date' data-date-format="DD/MMM/YYYY">
	            <input type='text' class="form-control" name='shipment'/>
	            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	            </span>
	          </div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-12 control-label" for="price">Price</label>
					<div class="col-lg-3">
						<input id="price" name="price" type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="col-lg-12"></div>

				<div class="form-group">
		      <label for="textArea" class="col-lg-6 control-label">Optional description</label>
		      <div class="col-lg-12">
		        <textarea class="form-control" name="description" rows="3" id="description"></textarea>
		        <small class="help-block">Inform a description for your freight. This will be visible for drivers and may explain details about the shippment.</small>
		      </div>
		    </div>

				<div class="col-lg-12">
					<h4>Cargo insurance and priority</h4> 
				</div>
				<div class="col-lg-2">
					<div class="form-group">
		        <div class="checkbox">
		          <label>
		            <input id="tracked" name="tracked" type="checkbox" class="form-control"> Is tracked?
		          </label>
		        </div>
	        </div>
        </div>		

				<div class="col-lg-2">
					<div class="form-group">
		        <div class="checkbox">
		          <label>
		            <input id="insured" name="insured" type="checkbox" class="form-control"> Is insured?
		          </label>
		        </div>
		      </div>
	      </div>

				<div class="col-lg-8">
					<div class="form-group">
			      <label class="col-lg-5 control-label">How is the urgency for the freight</label>
			      <div class="col-lg-2">
			        <div class="radio">
			          <label>
			            <input type="radio" name="urgency" id="urgency_normal" value=<%= Freight::NORMAL %> checked="">
			            Normal
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="urgency" id="urgency_high" value=<%= Freight::HIGH %>>
			            High
			          </label>
			        </div>
			      </div>
			    </div>
			  </div>

				<div class="col-lg-12">
					<h4>Cargo specification</h4> 
					<small class="help-block">Weight is measured in kilograms. Amount is measured in unities. The rest is measured in centimeters.</small>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="Heigth">Heigth</label>
						<input id="heigth" name="heigth" type="text" class="form-control" placeholder="">
					</div>
				</div>

				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="Width">Width</label>
						<input id="width" name="width" type="text" class="form-control" placeholder="">
					</div>
				</div>

				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="Weigth">Weigth</label>
						<input id="weigth" name="weigth" type="text" class="form-control" placeholder="">
					</div>
				</div>

				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="Length">Length</label>
						<input id="length" name="length" type="text" class="form-control" placeholder="">
					</div>
				</div>

				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="Amount">Amount</label>
						<input id="amount" name="amount" type="text" class="form-control" placeholder="">
					</div>
				</div>

				<div class="col-lg-12">
					<h4>Contacts</h4>
					<small class="help-block">You should state what contacts that manage the freight. These contacts may be requested by the drivers to answer questions during the execution of freight.</small>
				</div>


				<div class="form-group">
				<% current_user.shipper.contacts.each do |contact| %>
					<div class="col-lg-12">
						
						<div class="col-lg-3">
			        <div class="checkbox">
			          <label>
			            <input name=<%= "contacts[#{contact.id.to_s}]" %> type="checkbox" class="form-control"><%= contact.name %>
			          </label>
			        </div>
		      	</div>

	          <div class="col-lg-4">
		          <p><%= contact.phone %></p>
		        </div>
		        <div class="col-lg-4">
							<p><%= contact.email %></p>
						</div>

	        </div>
				<% end %>
				</div>			

				<div class="col-lg-12">
				</div>
	    	<div class="col-lg-2">
					<div class="form-group">
						<label></label>
						<%= submit_tag("Confirm freight and go to management", class: 'btn btn-primary', id: 'submit') %>
	    		</div>
	    	</div>	
			</div>
		</div>
	</div>
<% end %>