<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="resource-type" content="document">

    <!-- TUDO O QUE ESTÀ COMENTADO AQUI DEVE SER ESTUDADO ANTES DE APLICAR -->

    <!-- <meta name="rating" content="general"> -->
    <!-- <meta name="robots" content="ALL"> -->
    <!-- <meta name="google-site-verification" content="PaMlM4TErlkecPahr3JkiILvhaiTx1SsmssJ0sPWtv8" /> -->
    <!-- <meta name="keywords" content="multicalculo, multi-calculo, multi, calculo, corretoras, corretoras de seguros, corretor, corretor de seguro, seguros, seguro"> -->
    <!-- <meta name="description" content="Multicalculo - Sistema para corretoras de seguros com cotação simultânea em todas as seguradoras. Multicalculo cotação em menos de 10 segundos."> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Freight-TMS - Aqui você encontra fretes!</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- <%= javascript_include_tag "modernizr-2.5.3" %> -->
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
